* {
  margin-left: 0;
  margin-right: 0;
}

html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.Section_Title {
  margin: 15px 0 5px 0;
  font-weight: bolder;
}

h1 {
  font-size: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.navbar #logo {
  width: 200px;
}

.top_home {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}
.top_home .homehead {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_home #location {
  background-color: #EAEAEA;
  width: 100%;
}
.top_home .fa-location-dot {
  padding-right: 10px;
}
.top_home #explorer {
  background-color: #F6F6F6;
  padding: 0 25px 30px 25px;
  display: flex;
  flex-direction: column;
}
.top_home .exButton {
  border-radius: 25px;
  padding: 15px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  border: none;
  font-weight: bold;
}

.step_home {
  margin-left: 15px;
  padding: 10px 0 50px 0;
}
.step_home .All_steps {
  flex-direction: column;
  align-items: center;
  margin: 20px 0 20px 0;
}
.step_home .All_steps .step {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  margin: 0 10px 20px 10px;
  padding: 0.6em 1em;
  background-color: #F6F6F6;
}
.step_home .All_steps .step_num {
  font-size: 1.2rem;
  background-color: #9356DC;
  border-radius: 25px;
  padding: 0.2em 0.5em;
  color: white;
  position: absolute;
  left: -15px;
}
.step_home .All_steps .step__icon {
  padding: 0 15px 0 15px;
}
.step_home .All_steps .fa-store {
  color: #9356DC;
}
.step_home .All_steps .step_descr {
  font-size: 16px;
}
@media screen and (min-width: 1044px) {
  .step_home .All_steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .step_home .All_steps .step {
    margin-right: 50px;
  }
}

.resto {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 30px 0 60px 0;
}

#restTitle {
  margin: 10px 0 20px 15px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 0 5px 10px 5px;
  box-sizing: border-box;
}

.card-title {
  margin: 5px 0 5px 0;
  font-size: 20px;
}

.card-subtitle {
  margin: 3px 0 8px;
  display: flex;
  justify-content: space-between;
}

.fa-heart {
  padding-right: 15px;
  font-size: 1.3em;
}

.card img {
  width: 100%;
  height: 136px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.clickcard {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1044px) {
  .resto .restdivi {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  .resto .card {
    width: 40%;
    margin-bottom: 20px;
  }
}
footer {
  width: 100%;
}

.footbord {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1044px) {
  .footbord {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
}
.footbord a {
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
  padding-left: 20px;
}
.footbord #footerlogo {
  padding: 20px 0 20px 20px;
}
@media screen and (min-width: 1044px) {
  .footbord #footerlogo {
    order: 2;
    padding: 40px 50px 0 150px;
    max-width: 200px;
  }
}

.last-link {
  display: flex;
  flex-direction: column;
}

.icone-link {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1044px) {
  .last-link {
    display: flex;
    flex-direction: row;
    padding: 60px 0 15px 0;
  }
  .icone-link {
    display: flex;
    flex-direction: row;
    padding: 60px 30px 15px 0;
  }
}
.fa-utensils {
  padding-right: 5px;
}/*# sourceMappingURL=main.css.map */