footer{
    width: 100%;
}

.footbord{
    background-color: #353535;
    display: flex;
    flex-direction: column;
    width:100%;
    @media screen and (min-width: 1044px){
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: end;
        padding-top:50px;
    }
    a{ 
        text-decoration: none;
        color:white;
        padding-left:20px;
            &:hover{
                color:$violet;
            }
    }
    #footerlogo{
        padding: 20px 0 20px 20px;
        @media screen and (min-width: 1044px){
            order:2;
            margin: 0 15px 0 100px;
        }
    }
}
footer img{
    height:20px;
}
.last-link{
    display: flex;
    flex-direction: column;
}
.icone-link{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1044px){
.last-link {
    display:flex;   
    flex-direction: row;
    margin-left:40px;
    }
.icone-link{
    display:flex;   
    flex-direction: row;
}
}

.fa-utensils{
    padding-right:5px;
}