.footbord{
    background-color: #353535;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-top:30px;
    padding-left: 20px;
    @media screen and (min-width: 1044px){
        padding-top:50px;
        padding-left: 0;
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    a{ 
        display:flex;
        text-decoration: none;
        color:white;
        margin-bottom:10px;
            &:hover{
                color:$violet;
            }
            @media screen and (min-width: 1044px){
                    margin-left: 10px;
            }
    }
}

#footerlogo{
       padding-bottom: 15px;
        @media screen and (min-width: 1044px){
            margin: 0 15px 0 80px;
            padding-bottom: 0;
            order:1;
        }
    }

footer img{
    height:20px;
}
.last-link .icone-link{
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 1044px){
#last-link {
    display:flex;   
    flex-direction: row;
    margin-left: 40px;
    }
}

.fa-utensils{
    padding-right:10px;
}

.fa-handshake-angle{
    display:flex;
    padding-right:3px;
}