.navbar{
    display: flex;
    justify-content: center;
    padding:20px;
    position:relative;
    @include shadow;
        @media screen and (min-width: 1044px){
            box-shadow:none;
        }
    #logo{
        width: 200px;
    }
}

.arrow_header{
    color:black;
    text-decoration: none;
    position: absolute;
    left:25px;
    top:25px;
}
