* {
  margin: 0;
}

html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.Section_Title {
  margin: 15px 0 5px 0;
  font-weight: 800;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.navbar #logo {
  width: 200px;
}

@media screen and (min-width: 1044px) {
  h1 {
    font-size: 40px;
  }
}

.top_home {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}
.top_home .homehead {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_home #localisation {
  background-color: #EAEAEA;
  width: 100%;
  padding: 10px 0 10px 0;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 1044px) {
  .top_home #localisation {
    box-shadow: none;
  }
}
.top_home .fa-location-dot {
  padding-right: 10px;
}
.top_home #input-position {
  border: none;
  background-color: #EAEAEA;
  font-size: 1em;
}
.top_home #input-position::-moz-placeholder {
  color: black;
}
.top_home #input-position::placeholder {
  color: black;
}
.top_home #explorer {
  background-color: #F6F6F6;
  padding: 15px 25px 30px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top_home .exButton {
  border-radius: 25px;
  padding: 15px 25px 15px 25px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  border: none;
  font-weight: bold;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.top_home .exButton:hover {
  background: linear-gradient(to bottom, #FFA7E6, #9356DC);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

.step_home {
  margin-left: 15px;
  padding: 10px 0 50px 0;
}
.step_home .All_steps {
  flex-direction: column;
  align-items: center;
  margin: 20px 0 20px 0;
}
.step_home .All_steps .step {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  margin: 0 10px 20px 10px;
  padding: 1.5em 1em;
  background-color: #F6F6F6;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.step_home .All_steps .step_num {
  font-size: 1.2rem;
  background-color: #9356DC;
  border-radius: 25px;
  padding: 0.2em 0.5em;
  color: white;
  position: absolute;
  left: -15px;
}
.step_home .All_steps .step__icon {
  padding: 0 15px 0 15px;
  color: grey;
}
.step_home .All_steps .step:hover .step__icon {
  color: #9356DC;
}
.step_home .All_steps .step_descr {
  font-size: 16px;
  width: 211px;
  font-weight: bold;
}
@media screen and (min-width: 1044px) {
  .step_home .All_steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .step_home .All_steps .step {
    margin-right: 50px;
  }
}

#steptitle {
  padding-bottom: 15px;
}
@media screen and (min-width: 1044px) {
  #steptitle {
    display: flex;
    justify-content: center;
    position: relative;
    right: 440px;
  }
}

.resto {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 30px 0 60px 0;
}

#restTitle {
  padding-bottom: 30px;
  margin-left: 15px;
}
@media screen and (min-width: 1044px) {
  #restTitle {
    display: flex;
    justify-content: center;
    position: relative;
    right: 470px;
  }
}

.card {
  background-color: white;
  border-radius: 20px;
  padding-bottom: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 0 15px 10px 15px;
  box-sizing: border-box;
  transition: transform 0.3s;
}
.card .clickcard {
  text-decoration: none;
  color: black;
}

.new {
  font-size: 14px;
  font-weight: bold;
  background-color: #99E2D0;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: green;
  position: absolute;
  right: 15px;
  top: 20px;
}

.card img {
  width: 100%;
  height: 136px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card:hover,
.card:focus {
  transform: scale(1.05);
}

.card-title {
  padding-left: 15px;
  margin: 5px 0 5px 0;
  font-size: 20px;
}

.card-subtitle {
  padding-left: 15px;
  margin: 3px 0 8px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1044px) {
  .resto .restdivi {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  .resto .card {
    width: 40%;
    max-width: 490px;
    margin-bottom: 40px;
  }
  .resto .card img {
    height: 180px;
  }
}
.double-heart {
  display: flex;
  flex-direction: row-reverse;
}
.double-heart .fa-heart {
  padding: 0 25px 0 1px;
  font-size: 1.3em;
  position: absolute;
  bottom: 25px;
}

.fill-heart {
  opacity: 0;
  right: 0.2px;
  transition: all 400ms;
}
.fill-heart:active {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
}

.empty-heart:active {
  opacity: 0;
}

.footbord {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-top: 30px;
  padding-left: 20px;
}
@media screen and (min-width: 1044px) {
  .footbord {
    padding-top: 50px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
.footbord a {
  display: flex;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}
.footbord a:hover {
  color: #9356DC;
}
@media screen and (min-width: 1044px) {
  .footbord a {
    margin-left: 10px;
  }
}

#footerlogo {
  padding-bottom: 15px;
}
@media screen and (min-width: 1044px) {
  #footerlogo {
    margin: 0 15px 0 80px;
    padding-bottom: 0;
    order: 1;
  }
}

footer img {
  height: 20px;
}

.last-link .icone-link {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1044px) {
  #last-link {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
  }
}
.fa-utensils {
  padding-right: 5px;
}/*# sourceMappingURL=Main.css.map */