.fa-heart {
    border: none;
    color: transparent;
    background-color: transparent;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
    transform: scale(1);
    -webkit-transform: scale(1);
    position: relative;
    font-size: 20px;
    @media screen and (min-width: 1044px){
        font-size:25px;
    }
}

.fa-heart:hover {
    background-image: -webkit-gradient(linear, top, bottom, from($violet), to($mauve));
    background-image: -o-linear-gradient($violet, $mauve);
    background-image: linear-gradient($violet, $mauve);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
