#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #353535;
    z-index: 9999;
    animation: fadeout 3s linear forwards; /* Animation de 3 secondes */
}

@keyframes fadeout {
    0% {
        opacity: 1; /* Opacité à 100% au début */
    }
    95% {
        opacity: 1; /* Opacité à 100% pendant 95% de l'animation */
    }
    100% {
        opacity: 0; /* Opacité à 0% à la fin */
        z-index: -1; /* preloader est en arrière-plan après la disparition */
    }
}

#loader {
    display: block;
    position: fixed;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $violet;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $mauve;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}