.top_page img{
    width:100%;
    object-fit: cover;
    height:16em;
    @media screen and (min-width: 1044px){
     height:32em;
    }
}

h4{
    padding-bottom: 3px;
    @include hidden-txt;
}

.menu{
    display:flex;
    flex-direction: column;
    background-color: $light-grey-color;
    border-radius: 30px 30px 0 0;
    padding-bottom: 5px;
    margin-top: -3em;
        @media screen and (min-width: 1044px){
            margin: -3em 14em 0 14em;
            padding: 0 12em 0 12em;
        }
        h1{
            padding:50px 0 0 15px;
            font-family: 'Shrikhand', cursive, sans-serif;
            @media screen and (min-width: 1044px){
                display: flex;
                justify-content: center;
                margin-left: -3em;
            }
        }
}


.top-page-menu{
    display:flex;
    align-items: center;
    justify-content: space-between;
    .fa-heart{
        margin-right:40px;
        top:25px;
    }
    @media screen and (min-width: 1044px){
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left:9em;
        gap:40px;
    }
}

  
  

.menutitle{
    margin-top:50px;
    padding-left:15px;
    &::after{
    content: "";
    width: 50px;
    height: 3px;
    display: block;
    position: absolute;
    background-color: $mint;
    }
}

.menucard{
    background-color: white;
    border-radius: 15px;
    margin: 15px 15px 0px 15px;
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 2s;
    cursor: pointer;
    overflow: hidden;
    @include shadow;
    p{
        font-size: 15px;
    }
}

.menucard-content{
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding:10px 15px 10px 15px;
    width: 100%;
}

#menucard-txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

.menu-subtitle{
    @include hidden-txt;
}


.euro{
    font-weight: bold;
}

  .command-btn{
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
    .exButton{
        padding:15px 50px 15px 50px;
        }
}
